<template name="newstuff">
  <div class="container">
    <form id="newstuff-form" action="action">
        <div class="form-group">
          <label>Stuff name</label>
          <input class="form-control" type="text" id="name"/>
        </div>
        <input class="btn btn-default" type="submit" id="submit-button" value="Create"/>
    </form>
    </div>
</template>

<template name="stuffs"> <!-- Stuff list -->
  <div class="container">
    <div>
    {{#if stuffCount}}
    <h1>Stuffs:</h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      {{#each stuffs}}
      <tr>
        <td>{{name}}</td>
        <td>{{owner}}</td>
        <td>
          <a id="delete-stuff" data-id="{{name}}" href="">Delete</a>
        </td>
      </tr>
      {{/each}}
      </tbody>
    </table>
    {{else}}
    No stuffs found   
    {{/if}}
    </div>
  </div>
</template>

<template name="stuff">
  Stuff details
</template>